body {
	background: url('sp://byom/spotifyappbackground01.jpg') no-repeat;
	height: 100%;
	width: 100%;
	color: white;
	font-family: Helvetica, Verdana, sans-serif;
}

#splash-screen {
	background: red;
	opacity: 0.75;
	font-weight: bold;
	text-align: center;
	margin: 20% 10%;
	text-shadow: 0.1em 0.1em 0.05em #333;
	height: 250px;
}

#splash-screen h1 {
	font-size: 48px;
	height: 55px;
	padding-top: 25px;
}

#splash-screen h3 {
	margin-top: 10px;
	font-size: 30px;
	line-height: 32px;
	height: 150px;
}

#playlist-container {	
	margin-left: 10%;
	background: red;
	opacity: 0.75;
	width: 80%;
}

.playlist-item {
	margin: 5px 10px;
	list-style-type: none;
	border: 1px solid white;
	opacity: 1;
	font-weight: bold;
}

.song-users {
	display: inline;
	margin-left: 10px;
}

.song-user {
	width: 32px;
	height: 32px;
	display: inline;
}
.user-thumbnail {
	width: 32px;
	height: 32px;
	display: inline;
}